<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabajo Final - Diseño de Interfaces</title>
    <link rel="stylesheet" href="../resources/css/styles.css" />
    <link
      rel="stylesheet"
      href="../resources/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../resources/fonts/css/all.css" />
    <link rel="stylesheet" href="../resources/fonts/css/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <script src="../resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="../resources/fonts/js/all.js"></script>
    <script src="../resources/fonts/js/all.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="form_total">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <form class="form_horizontal">
              <div class="form_icon"><i class="fas fa-check-circle"></i></div>
              <h3 class="titulo"><strong>Inicio de Sesión Exitoso!</strong></h3>
              <button
                type="button"
                onclick="location.href='http://localhost/svdp/ddi/actividad_final/index.html'"
                class="btn btn-primary btn-block boton"
              >
                Cerrar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
