* {
  justify-content: center;
}

.form_total {
  background: linear-gradient(to bottom, rgb(10, 20, 68), rgb(203, 20, 68));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_horizontal {
  padding: 30px;
  font-family: "Poppins", sans-serif;
  background: rgba(156, 156, 156, 0.5);
  border: 7px solid rgba(29, 28, 28, 0.6);
  border-radius: 40px;
  text-align: center;
}

.form_horizontal .form_icon {
  color: white;
  font-size: 150px;
  line-height: 85px;
  margin: 0 0 13px;
}

.form_horizontal .titulo {
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 20px 0;
  margin-bottom: 20px;
}

.form_horizontal .subtitulo {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
  margin-bottom: 35px;
}

.form_horizontal .form-group {
  margin: 0 0 10px;
  position: relative;
}

#input-email {
  position: absolute;
  left: 15px;
  top: 32%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(29, 28, 28, 0.7);
}

#input-password {
  position: absolute;
  left: 15px;
  top: 32%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(29, 28, 28, 0.7);
}

#input-repassword {
  position: absolute;
  left: 15px;
  top: 32%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(29, 28, 28, 0.7);
}

#input-clave {
  position: absolute;
  left: 15px;
  top: 32%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(29, 28, 28, 0.7);
}

.form_horizontal .input-label {
  margin-bottom: -15px;
  font-size: 14px;
  font-weight: 800;
}

.form_horizontal .form-control {
  color: rgba(29, 28, 28, 0.8);
  background-color: white;
  font-size: 15px;
  height: 40px;
  font-weight: 600;
  padding: 2px 15px 2px 40px;
  border: 3px solid rgba(29, 28, 28, 0.4);
  border-radius: 50px;
  line-height: 25pt;
  margin-top: -10px;
}

.form_horizontal .boton {
  background-color: rgba(10, 20, 68, 0.6);
  border: none;
  border-radius: 50px;
  margin: 0 0 10px 0;
  margin-top: -10px;
}

.form_horizontal .boton:hover {
  background-color: rgba(37, 62, 187, 0.6);
}

.form_horizontal .form-options {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
}

.form_horizontal .form-options li a {
  color: rgba(29, 28, 28, 0.8);
}
